<header class="position-sticky top-0 w-100" style="z-index: 99;">
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-light border-bottom box-shadow">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb d-flex align-items-center m-0">

                <button class="btn mx-2" id="toggle-side">
                    <span class="navbar-toggler-icon" style="width: 1.2em; height: 1.2em;"></span>
                </button>

                <li class="breadcrumb-item active" aria-current="page">
                    @ViewData["Title"]
                </li>
            </ol>
        </nav>
    </nav>
</header>