@using Microsoft.AspNetCore.Identity

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

<ul class="navbar-nav px-3">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle item-name" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            @User?.Identity?.Name
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDrop" style="left: -4rem;">
            <li>
                <a class="dropdown-item" asp-controller="Account" asp-action="Logout">
                    Logout
                </a>
            </li>
        </ul>

    </li>
}
</ul>
