@{
    ViewData["Title"] = "Access Denied";
    Layout = "_DisplayLayout";
}

<div class="d-flex align-items-center flex-column justify-content-center  pt-3">
    <h1 class="text-danger">Access Denied</h1>
    <p class="text-danger">You do not have access to this resource</p>
</div>