@{
    ViewData["Title"] = "Access Denied";
    Layout = "_DisplayLayout";
}

<div class="d-flex align-items-center flex-column justify-content-center  pt-3">
    <div class="py-3">
        <a type="button" class="btn btn-secondary d-flex align-items-center gap-1" asp-controller="Admin" asp-action="Dashboard">
            <i class="lni lni-arrow-left mr-2 fw-bold"></i>
            <span> Back to Home page</span>
        </a>
    </div>
    <h1 class="text-danger">Access Denied</h1>
    <p class="text-danger">You do not have access to this resource</p>
</div>