@{
    ViewData["Title"] = "Dashboard";
    Layout = "_AdminLayout";
}
    
<div class="px-5 mb-4">
    <div class="row py-4">
        <div class="col-xl-3 col-md-3 col-sm-4 mb-4">
            <div class="card shadow h-100 py-2" style="border-left: .25rem solid #4e73df !important;">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col mr-2">
                            <div class="fw-bold text-primary text-uppercase mb-1" style="font-size: .8em;">
                                Total Generated Number Today
                            </div>
                            <div class="h5 fw-bold text-secondary mb-0" id="totalGeneratedQ">
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="lni lni-user" style="font-size: 2em; font-weight: 800; color: #dddfeb"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-3 col-sm-4 mb-4">
            <div class="card shadow h-100 py-2" style="border-left: .25rem solid #ffca2c !important;">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col mr-2">
                            <div class="fw-bold text-uppercase mb-1" style="font-size: .8em;">
                                Total Serve Number Today
                            </div>
                            <div class="h5 fw-bold text-secondary mb-0" id="totalServed">                            
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="lni lni-user" style="font-size: 2em; font-weight: 800; color: #dddfeb"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-3 col-sm-4 mb-4">
            <div class="card shadow h-100 py-2" style="border-left: .25rem solid #198754 !important;">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col mr-2">
                            <div class="fw-bold text-success text-uppercase mb-1" style="font-size: .8em;">
                                Total Reserve Today
                            </div>
                            <div class="h5 fw-bold text-secondary mb-0">
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="lni lni-user" style="font-size: 2em; font-weight: 800; color: #dddfeb"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-3 col-md-3 col-sm-4 mb-4">
            <div class="card shadow h-100 py-2" style="border-left: .25rem solid #dc3545 !important;">
                <div class="card-body">
                    <div class="row align-items-center">
                        <div class="col mr-2">
                            <div class="fw-bold text-danger text-uppercase mb-1" style="font-size: .8em;">
                                Total Cancel Today
                            </div>
                            <div class="h5 fw-bold text-secondary mb-0">
                            </div>
                        </div>
                        <div class="col-auto">
                            <i class="lni lni-user" style="font-size: 2em; font-weight: 800; color: #dddfeb"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-8">
            <div class="bg-white rounded border shadow">
                <h6 class="p-3 fw-bold m-0 border-bottom">Total Serving</h6>
                <div class="d-flex align-items-center justify-content-end pt-3 px-5">
                    <div class="yearContainer d-flex gap-2">
                        <select id="selectedMonth" onchange="LoadData(document.getElementById('selectedYear').value, this.value)" class="form-select">
                            <option data-month="All" value="">All</option>
                            <option data-month="January" value="01">January</option>
                            <option data-month="February" value="02">February</option>
                            <option data-month="March" value="03">March</option>
                            <option data-month="April" value="04">April</option>
                            <option data-month="May" value="05">May</option>
                            <option data-month="June" value="06">June</option>
                            <option data-month="July" value="07">July</option>
                            <option data-month="August" value="08">August</option>
                            <option data-month="September" value="09">September</option>
                            <option data-month="October" value="10">October</option>
                            <option data-month="November" value="11">November</option>
                            <option data-month="December" value="12">December</option>
                        </select>

                        <select id="selectedYear" onchange="LoadData(this.value,  document.getElementById('selectedMonth').value)" class="form-select">
                            <option value="2024">2024</option>
                            <option value="2025">2025</option>
                            <option value="2026">2026</option>
                            <option value="2027">2027</option>
                            <option value="2028">2028</option>
                            <option value="2029">2029</option>
                            <option value="2030">2030</option>
                        </select>
                    </div>
                </div>
                <div class="pb-5 mx-3">
                    <canvas id="myChart"></canvas>
                </div>
            </div>
        </div>

        <div class="col-4">
            <div class="bg-white rounded border shadow">
                <h6 class="p-3 fw-bold m-0 border-bottom"> Recently Served</h6>
                <div class="p-2">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>No#</th>
                                <th>Serving By</th>
                                <th>Stage</th>
                                <th>DateTime</th>
                            </tr>
                        </thead>
                        <tbody id="recentlyQServes">
                        </tbody>
                    </table>
                </div>

            </div>
        </div>

       @*  <div class="col-4">
            <div class="bg-white rounded border shadow">
                <h6 class="p-3 fw-bold m-0 border-bottom"> Recently Served</h6>
                <div class="d-flex align-items-center justify-content-between p-2 px-5">
                    <canvas id="ServingPieChart"></canvas>
                </div>
                
            </div>
        </div> *@
    </div>
</div>



<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-tooltip"></script>
<script src="/js/admin/DashboardScript.js"></script>