@{
    ViewData["Title"] = "Report / Serving Report";
    Layout = "_AdminLayout";
}


<div class="p-5 mb-4">
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <div class="d-flex align-items-center justify-content-between px-2">
                <h6 class="fw-bold m-0">Serving Time Statistics</h6>
                <div class="d-flex align-items-center gap-3">
                    <a class="btn btn-secondary" style="font-size: 12px;" asp-controller="Admin" asp-action="ServingReport">
                        Line Chart
                    </a>
                </div>
            </div>
        </div>

        <div class="card-body pt-0">
            <div class="table-responsive py-3">
                <table id="waitingReportTable" class="table table-striped align-middle table-responsive border" style="width:100%; table-layout:auto;">
                    <thead class="border-top">
                        <tr class="text-start fw-bold text-uppercase border-bottom" style="color: #666666;">
                            <th>Username</th>
                            <th>Total Number Served</th>
                            <th>Highest Average Served Time</th>
                            <th>Lowest Served Time</th>
                            <th>Date</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Dynamic rows will be appended here -->
                    </tbody>
                </table>
            </div>
        </div>


    </div>
</div>




<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="/js/admin/ServingReportDetailScript.js"></script>


